@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

body {
  --primary-color: #1d2786;
  --primary-background: #ffe6eb;
  font-family: "Montserrat", sans-serif;
}

.app {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
}

.ReactModal__Overlay {
  z-index: 100 !important;
}
